{{template config_path="design/email/header_template"}}
<p>Thanks for submitting the request.we will contact you as soon as possible.</p>
<table class="message-details">
     <tr>
        <td><strong>Company</strong></td>
        <td class="seprater">:</td>
        <td>{{var company}}</td>
    </tr>
    <tr>
        <td><strong>Address</strong></td>
        <td class="seprater">:</td>
        <td>{{var address}}</td>
    </tr>
    <tr>
        <td><strong>State</strong></td>
        <td class="seprater">:</td>
        <td>{{var state}}</td>
    </tr>
    <tr>
        <td><strong>Zipcode</strong></td>
        <td class="seprater">:</td>
        <td>{{var zipcode}}</td>
    </tr>
    <tr>
        <td><strong>Country</strong></td>
        <td class="seprater">:</td>
        <td>{{var country}}</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td class="seprater">:</td>
        <td>{{var email}}</td>
    </tr>
    
    <tr>
        <td><strong>Website</strong></td>
        <td class="seprater">:</td>
        <td>{{var website}}</td>
    </tr>
     <tr>
        <td><strong>Phone</strong></td>
        <td class="seprater">:</td>
        <td>{{var phone}}</td>
    </tr>
    <tr>
        <td><strong>Contact Name</strong></td>
        <td class="seprater">:</td>
        <td>{{var contactname}}</td>
    </tr>
    <tr>
        <td><strong>Materials To Supply</strong></td>
        <td class="seprater">:</td>
        <td>{{var materials_to_supply}}</td>
    </tr>

    <tr>
        <td><strong>Material Certification Status</strong></td>
        <td class="seprater">:</td>
        <td>{{var materials_to_supply}}</td>
    </tr>
    <tr>
        <td><strong>Other Materials</strong></td>
        <td class="seprater">:</td>
        <td>{{var other_materials}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}