<?xml version="1.0"?>
<config>
	<tabs>
        <dynamic_templates translate="label" module="dynamic_brand">
            <label>Dynamicsoft extension</label>
			<!-- it relation to diplaying position on left menu -->
            <sort_order>198</sort_order>
        </dynamic_templates>
    </tabs>
    <sections>
        <dynamic_brand translate="label" module="dynamic_brand">
            <label>Brand</label>
            <tab>dynamic_templates</tab>
            <frontend_type>text</frontend_type>
            <sort_order>6</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general translate="label" module="dynamic_brand">
					<label>General Settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <enable_box_right translate="label">
                            <label>Enabled brand box in right column</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_box_right>
                        <effects translate="label">
                            <label>Enable slider in sidebar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enable_box_right>1</enable_box_right></depends>
                        </effects>
                        <num_sidebar translate="label">
                            <label>Number item in sidebar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<enable_box_right>1</enable_box_right>
								<effects>1</effects>
							</depends>
                        </num_sidebar>
                        <effects_type translate="label">
                            <label>Effect type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dynamic_brand/system_conf_source_effect</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enable_box_right>1</enable_box_right><effects>1</effects></depends>
                        </effects_type>
                        <time_effect translate="label">
                            <label>Time slide</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enable_box_right>1</enable_box_right><effects>1</effects></depends>
							<comment>second(s)</comment>
                        </time_effect>
                        <enable_capcha translate="label">
                            <label>Enable Captcha</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<config_path>customer/captcha/enable</config_path>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_capcha>
                        <display_email translate="label">
                            <label>Allow display Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_email>
                        <display_datetime translate="label">
                            <label>Allow display DateTime</label>
                           <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_datetime>
                        <enable_top_link translate="label">
                            <label>Enable link in header</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_top_link>
					</fields>
			    </general>
				<options translate="label" module="dynamic_brand">
					<label>Email Notifications</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						 <enable_notification translate="label">
                            <label>Enable Email Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_notification>
						<mail_to_store_template translate="label">
							<label>Email to Store Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>1</sort_order> 
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enable_notification>1</enable_notification></depends>
						</mail_to_store_template>
						<recipient_email translate="label">
                            <label>Recipient's Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enable_notification>1</enable_notification></depends>
                        </recipient_email>
					</fields>
				</options>
            </groups>
        </dynamic_brand>
    </sections>
</config>