<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dynamic" translate="label" sortOrder="10">
            <label>Dynamic</label>
        </tab>
        <section id="shipping_message" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shipping Notification</label>
            <tab>dynamic</tab>
            <resource>Dckap_CustomFields::shipping_message</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Text</label>
                    <comment>This text will display on the FedEx Ground Shipping method only.</comment>
                </field>
                <field id="rates" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rates</label>
                    <comment>Add shipping rates from where you want to show message</comment>
                </field>
            </group>
        </section>
        <section id="shipping_email" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Supllier Configuration</label>
            <tab>dynamic</tab>
            <resource>Dckap_CustomFields::shipping_email</resource>
            <group id="supllier" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Supllier Configuration</label>
                <field id="sendername" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name</label>
                </field>
                <field id="senderemail" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Email</label>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Supplier Request Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>