<?xml version="1.0"?>
<config>
    <modules>
        <Dynamic_Contactus>
            <version>1.0.0</version>
        </Dynamic_Contactus>
    </modules>
    <global>
        <models>
            <dynamic_contactus>
                <class>Dynamic_Contactus_Model</class>
                <resourceModel>dynamic_contactus_mysql4</resourceModel>
            </dynamic_contactus>
            <dynamic_contactus_mysql4>
                <class>Dynamic_Contactus_Model_Mysql4</class>
                <entities>
                    <contactus>
                        <table>dynamic_contactus</table>
                    </contactus>
                </entities>
            </dynamic_contactus_mysql4>
        </models>

        <blocks>
            <dynamic_contactus>
                <class>Dynamic_Contactus_Block</class>
            </dynamic_contactus>
        </blocks>

        <helpers>
            <dynamic_contactus>
                <class>Dynamic_Contactus_Helper</class>
            </dynamic_contactus>
        </helpers>

        <resources>
            <dynamic_contactus_setup>
                <setup>
                    <module>Dynamic_Contactus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dynamic_contactus_setup>
            <dynamic_contactus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dynamic_contactus_write>
            <dynamic_contactus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dynamic_contactus_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dynamic_contactus after="Mage_Adminhtml">Dynamic_Contactus_Adminhtml</dynamic_contactus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <dynamic_contactus>
                <title>Contactus</title>
                <sort_order>76</sort_order>
                <children>
                    <contactus>
                        <title>Manage Contactus</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/contactus</action>
                    </contactus>
                </children>
            </dynamic_contactus>
        </menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <dynamic_contactus>
							<title>Contactus</title>
							<sort_order>76</sort_order>
							<children>
								<contactus>
									<title>Manage Contactus</title>
									<sort_order>0</sort_order>
									<action>adminhtml/contactus</action>
								</contactus>
							</children>
						</dynamic_contactus>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <dynamic_contactus>
                    <file>dynamic_contactus.xml</file>
                </dynamic_contactus>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dynamic_Contactus>
                    <files>
                        <default>Dynamic_Contactus.csv</default>
                    </files>
                </Dynamic_Contactus>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <contacts>
                <args>
                     <modules>
                        <Dynamic_Contactus before="Mage_Contacts">Dynamic_Contactus</Dynamic_Contactus>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
</config>
